# Python virtual environments
env/
venv/
.venv/
pydantic/env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
weather_agent/

# Environment variables
.env
